h1,h2{
	color:purple;
}
p,td{
	color:blue
}
.text-center {
	text-align: center;
}
#rounded-img {
	border-radius: 30px;
}
table, th, td{
border: 2px solid black;
border-collapse: collapse;
padding:15px;
}
body{
background-image: url("images/background.jpg");
}
